@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #D9D9D9;
  overflow: hidden
}

@media (max-aspect-ratio: 6/5) {
  body {
    font-size: calc(12 * 100vw / 320);
  }
}

/* Mobile, Landscape */
@media (max-width: 1134px) {
  body {
    font-size: calc(11 * 100vw / 480);
  }
}
/* Desktop */
@media (min-width: 1134px) and (min-aspect-ratio: 6/5) {
  body {
    font-size: calc(20 * 100vw / 1920);
  }
  .input-text {
    font-size: calc(20 * 100vw / 1920);
  }
}
/* Wide (Ultra Wide) Monitors */
@media (min-width: 1134px) and (min-aspect-ratio: 5/2) {
  body {
    font-size: calc(22 * 100vw / 2560);
  }
}